.demo-title {
    padding: 6em 0;
}

.demo-title h1 span {
    font-weight: 100;
    color: lightgray;
}

h1.demo-header,
h2.demo-header,
h3.demo-header,
h4.demo-header,
h5.demo-header,
h6.demo-header {
    border-bottom: solid .1em;
}

.demo-grid .row {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ddd;
}

.demo-grid .demo-col {
    border: .15em solid black;
    padding: .2em .4em;
    background-color: white;
}

.demo-bg-gray {
    background-color: #eee;
}

.demo-mono { font-family: monospace; }
